<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <div class="mainPage">

    <div class="row">

      <div class="column1">
        <br>
        <img class="avatar" src="assets\me.jpg">
        <div class="text1">

          <h1 id="name">NICOLAE STICI</h1>
          <p>SOFTWARE DEVELOPER</p>
          <br><hr> <br>
          <h3 id="category">PERSONAL PROFILE</h3>
          <p id="contains">Very enthusiastic and interested in applying the knowledge and skills obtained in studying
            Java and objectoriented programming.</p>
          <br>
          <h3 id="category">SKILLS & ABILITIES</h3>
          <p id="contains">-Good understanding of OOP and SOLID <br>
            -Java fundamentals <br>
            -Intellij, Eclipse, Visual Studio Code <br>
            -GIT <br>
            -Algorithms <br>
            -MySQL <br>
            -JDBC & Hibernate <br>
            -HTML, CSS, JavaScript<br>
            -Basic knowledge of Angular
          </p>
          <br>
          <h3 id="category">LANGUAGES</h3>
          <p id="contains">
            -English (Intermediate) <br>
            -Russian (Advanced)</p>
          <br>
          <h3 id="category">CONTACT INFORMATION</h3>
          <p> <img id="logos" src="assets/github.png"> <a href="https://github.com/NickStich"> <a class="link"> GitHub
              Profile </a> </a></p>
          <p> <img id="logos" src="assets/phone.png">  0799085195  </p>
          <p> <img id="logos" src="assets/email.png"> <a href="mailto:nicolae.stici@outlook.com"> <a class="link">
              nicolae.stici@outlook.com </a> </a></p>
          <p> <img id="logos" src="assets/linkedin.png"> <a
              href="https://linkedin.com/in/nicolae-stici-34a860158/"> <a class="link"> LinkedIn Profile </a> </a></p>
          <p> <img id="logos" src="assets/address.png"> Timisoara, Romania </p>
        </div>
      </div>

      <div class="column2">
        <br>
        <h2 id="h2">EMPLOYMENT HISTORY</h2>
        <h3>Accountant</h3>
        <h4>Plasess Romania SRL (2018 - Present)</h4>
        <p>-Recording of goods invoices <br>
          -Reconciling customers AR and suppliers AP accounts <br>
          -Registration and evidence of imports and related taxes <br>
          -Reconciliation and record advances for goods and services <br>
          -Preparation of quarterly financial report</p>
        <br>
        <h3>Sales Representative</h3>
        <h4>Lucars Express SRL (2016 - 2017)</h4>
        <p>-Collect customers taxes <br>
          -Karting repair and maintenance</p>
        <br>
        <br>

        <h2 id="h2">EDUCATIONAL HISTORY</h2>
        <h3>Java Developer</h3>
        <h4>Software Development Academy (2019-2020)</h4>
        <p>- Fundamentals of Java, OOP, MySQL and Web technologies</p>
        <br>
        <h3>Master's degree: Accounting Expertise and Business Valuation</h3>
        <h4>West University of Timisoara (2017-2019)</h4>
        <br>
        <h3>Bachelor's degree: Accounting and Information Management</h3>
        <h4>University of Petrosani (2014-2017)</h4>
        <br>
        <br>
        <h2 id="h2">INTERESTS AND HOBBIES</h2>
        <p>-Music <br>
          -Football <br>
          -Space <br>
          -Books <br>
          -Movies</p>
      </div>

    </div>

  </div>
</body>

</html>